@{
    ViewBag.Title = "Home Page";
}

<main>
    Kurs Franken in Euro: 1 Euro = 0.95 Schweizer Franken <br />
    Kurs Franken in Dollar: 1 US-Dollar = 0.90 Schweizer Franken<br />
    Kurs Bitcoin in Franken: 1 Bitcoin = 30`794.58 Schweizer Franken
</main>